
body{
	background: black;
	color: white;

}

nav{

	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	height: 85px;
	position: static;


}

button{
	height: 80px;
	width: 130px;
	color: white;
	background: linear-gradient(black, white);
	border-radius: 5%;
	float: left;

}



#loginForm{
	display: none;
	position: absolute;
	z-index: 2;
	background: white;
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	height: 400px;
	margin-top: 20%;

}

#modalForm{
	display: none;
	position: absolute;
	z-index: 2;
	background: white;
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	height: 400px;
	margin-top: 20%;
}

#myJtron{
	background-image: url("party.jpg");
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	
}