
body{
	background: black;
	color: white;

}

nav{

	width: 100%;
	height: 85px;
	position: static;
	background-color :black! important;
	color: black;
	overflow: none;
	

}


#submitBtnParty{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	height: 60px;
	position: relative;
}


button{
	height: 65px;
	width: 200px;
	color: white;
	background: linear-gradient(black, white);
	border-radius: 2%;
	float: left;

    
}

button:hover{
	height: 65px;
	width: 200px;
	color: white;
	background: linear-gradient(white, black);
	border-radius: 2%;
	float: left;

}





#loginForm{
	display: none;
	position: absolute;
	z-index: 2;
	background: black;
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	height: 200px;
	margin-top: 20%;
	border: 2px solid red;
	color: black;
	font-family: serif;
	text-align: center;

}

#modalForm{
	display: none;
	position: absolute;
	z-index: 5;
	background: rgb(5, 5, 5);
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	height: 100px;
	margin-top: 20%;
	border: 2px solid red;
	color: black;
	overflow: none;
	font-size: 15px;
	font-family: serif;
	text-align: center;
}

#PartyCreationForm{

display: none;
	position: absolute;
	top: -15%;
	left: 35%;
	z-index: 1;
	background: rgb(252, 250, 250);
	width: 30%;
	height: 458px;
	margin-top: 20%;
	border: 5px dashed black;
	color: black;
	font-size: 15px;
	font-family: serif;
	text-align: center;

}
#PartyCreationForm:hover{
	border: 5px solid black;
}

#myJtron{
	background-image: url("party.jpg");
	height: 640px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0rem;
	
}
#colorBaby {
	background: black;

}
table {
	background-color: black;
	color: white;
}



.rightNav{
	width: 50%;
	margin-left: 50%;
	border-left: 5px dashed white;
}

i{
	height: 80px;
	width: 80px;
	background-size: 80px, 30px;
	margin-left: 20%;
	position: relative;
}

