

body{
	background: black;
	color: white;

}

nav{

	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	height: 85px;
	position: static;


}

button{
	height: 80px;
	width: 130px;
	color: white;
	background: linear-gradient(black, white);
	border-radius: 5%;
	float: left;

}

h2{
	color: black;
	z-index: 3;
}

#loginForm{
	display: none;
	position: absolute;
	top: 0%;
	left: 40%;
	z-index: 2;
	background: white;
	width: 30%;
	height: 400px;
	margin-top: 20%;
	border: 2px solid red;

}

#modalForm{
	display: none;
	position: absolute;
	top: 0%;
	left: 40%;
	z-index: 2;
	background: white;
	width: 30%;
	height: 400px;
	margin-top: 20%;
	border: 2px solid red;
}

#myJtron{
	background-image: url("party.jpg");
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	
}
